<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/fragments :: head('ATELIER DE PARFUM')}"></head>

<body>
	<div th:replace="~{layout/fragments :: background}"></div>

	<div id="welcome-screen">
		<div class="welcome-content">
			<h1 class="brand-logo-large">ATELIER DE PARFUM</h1>
			<p class="tap-to-enter">CLICK TO ENTER</p>
		</div>
	</div>

	<div id="main-content" class="hidden">
		<div th:replace="~{introduction :: scent-intro-parts}"></div>

		<div class="container reveal">
			<form th:action="@{/order}" method="post" id="perfumeForm">
			</form>
		</div>
	</div>

	<div id="main-content" class="hidden">
		<div class="container">
			<header>
				<h2>Order Your Scent</h2>
				<p>世界にひとつ、あなただけの香りを。</p>
			</header>

			<form th:action="@{/order}" method="post" id="perfumeForm">
				<div class="section">
					<h4>1. お好きな香りを2つまで</h4>
					<div class="scent-selection">
						<div th:each="s : ${ {'Rose', 'Citrus', 'Lavender', 'Woody'} }" class="scent-option">
							<input type="checkbox" th:id="${s}" name="scents" th:value="${s}" class="scent-check">
							<label th:for="${s}" th:text="${s}"></label>
						</div>
					</div>
				</div>

				<div class="section">
					<h4>2. ボトルの選択</h3>
						<div class="bottle-preview">
							<img id="bottle-image" th:src="@{/images/IMG_0289.JPG}" alt="Bottle">
						</div>
						<div class="bottle-selection">
							<input type="radio" id="bottle-clear" name="bottleType" value="Clear" checked>
							<label for="bottle-clear">Clear</label>
							<input type="radio" id="bottle-amber" name="bottleType" value="Amber">
							<label for="bottle-amber">Amber</label>
						</div>
				</div>

				<button type="submit" class="order-button">BLEND MY PERFUME</button>
			</form>
		</div>
	</div>

	<div th:replace="~{address-section :: address}"></div>

	<div th:replace="~{preview-modal :: modal}"></div>

	<script th:src="@{/js/script.js}"></script>
</body>

</html>