<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<head th:replace="~{layout/header :: common_head}"></head>
	<link rel="stylesheet" th:href="@{/css/intro.css}">
</head>

<body>
	<main class="intro-container">
		<section class="intro-text fade-in">
			<h1>Our Fragrance</h1>
			<p>記憶を呼び起こす、あなただけの香り。</p>
		</section>
		<div class="perfume-list">
			<section th:each="scent, iterStat : ${scents}" class="perfume-item fade-in"
				th:classappend="${iterStat.odd} ? 'row-reverse' : ''">

				<div class="img-wrapper modal-trigger" th:data-name="${scent.name}"
					th:data-description="${scent.description}">

					<img th:src="${scent.imageUrl != null} ? @{/images/{name}(name=${scent.imageUrl})} : @{/images/no-image.jpg}"
						th:alt="${scent.name}">
				</div>

				<div class="text-wrapper">
					<span class="scent-number" th:text="${#numbers.formatInteger(iterStat.count, 2)}">01</span>
					<h2 th:text="${scent.name}">Scent Name</h2>
				</div>
			</section>
		</div>
		<nav class="navigation-area fade-in">
			<a th:href="@{/mix}" class="btn-next">香りを調合しに行く</a>
		</nav>
	</main>
	<div id="descriptionModal" class="modal-overlay" style="display: none;" onclick="closeModal()">
		<div class="modal-content" onclick="event.stopPropagation()">
			<span class="close-btn" onclick="closeModal()">&times;</span>
			<h2 id="modalTitle"></h2>
			<p id="modalDescription"></p>
		</div>
	</div>
	<script th:src="@{/js/script.js}"></script>
</body>

</html>